@import "fonts.css";

body {
    color: #265174;
    font-family: 'OpenSans-Regular', serif;
    font-size: 16px;
    background: #f0f0f0;
}
em{
    font-family: 'OpenSans-Italic', serif;
}
strong{
    font-family: 'OpenSans-Bold', serif;
}