@media (min-width: 1440px) {
    #loader-brand {
        top: -34px;
        left: -1px;
    }
}
@media (min-width: 1280px) {
    #loader-brand {
        width: 102%;
        top: -10px;
        left: -2px;
    }
}
@media screen and (min-width: 1333px){
    #loader-brand svg {
         width: 100% !important;
    }
    #loader-brand{
        width: 100%;
        top: -16px;
        left: 10px;
    }
}

@media (min-width: 1600px) {

}

@media all and (max-width: 1199px) {
    .service-icon-main{
        position: initial;
    }
    .box-icon {
        position: initial;
        transform: rotate(0deg);
        left: 0;
        display: block;
        margin: auto;
    }

    .box-dot1 {
        height: 78%;
        right: 30%;
        position: absolute;
        top: 135px;
        z-index: 0;
        background-size: 15px 15px;
        width: 15px;
        background: transparent url(../images/dot.svg) space 0 0;
    }
    .box-dot2 {
        left: 47%;
        height: 90%;
        position: absolute;
        top: 0;
        z-index: 0;
        background-size: 15px 15px;
        width: 15px;
        background: transparent url(../images/dot_white.svg) space 0 0;
    }

    .plane-icon {
        left: 36%;
        transform: rotate(180deg);
        top: 90%;
        position: absolute;
        margin: auto;
    }

    .plane-check {
        right: 75px;
        position: absolute;
        top: 90%;
        z-index: 0;
    }
    .navbar-lang{
        display: inline-flex;
        flex-direction: initial;
    }
    .navbar-lang .nav-item{
        padding: 0 5px;
    }
    #navbarSupportedContent{
        padding: 0 30px;
    }
}

@media all and (max-width: 991px) {
}

@media (min-width: 768px) and (max-width: 1024px) {

    .navbar-brand{
        /*float: right;*/
        /*margin: 20px 40px;*/
    }
    .navbar-brand img{
        width: 160px!important;
    }
    .hamburger{
        position: absolute;
        top: -10px;
        right: 20px;
    }
    .logo-about {
        right: 110px;
        bottom: -35px;
        width: 120px;
        z-index: 1;
    }

    .logo-contact {
        position: absolute;
        right: -120px;
        top: -270px;
        width: 560px;
        z-index: 0;
    }

    .service-icon {
        position: sticky;
        position: -webkit-sticky;
        top: 120px;
    }

    .truck-rotate {
        position: initial;
    }

    .truck-check {
        position: absolute;
        right: 7px;
        top: 100%;
        z-index: 0;
    }

    .truck-dot {
        width: 15px;
        position: absolute;
        right: 60px;
        top: 135px;
        z-index: 0;
        background-size: 15px 15px;
        height: 90%;
        background: transparent url(../images/dot.svg) space 0 0;
    }

    .service-icon-main{
        position: initial;
    }
    .box-icon {
        position: initial;
        transform: rotate(0deg);
        left: 0;
        display: block;
        margin: auto;
    }

    .box-dot1 {
        height: 80%;
        position: absolute;
        right: 25%;
        top: 135px;
        z-index: 0;
        background-size: 15px 15px;
        width: 15px;
        background: transparent url(../images/dot.svg) space 0 0;
    }
    .box-dot2 {
        height: 90%;
        position: absolute;
        left: 49%;
        top: 0;
        z-index: 0;
        background-size: 15px 15px;
        width: 15px;
        background: transparent url(../images/dot_white.svg) space 0 0;
    }

    .plane-icon {
        transform: rotate(180deg);
        top: 90%;
        position: absolute;
        left: 30%;
        margin: auto;
    }

    .plane-check {
        position: absolute;
        right: 15px;
        top: 90%;
        z-index: 0;
    }
    .search-container {
        width: 200px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .blog-item img {
        width: 170px;
        height: 120px;
    }
    .blog-desc {
         padding-right: 0;
    }
    .menu-case {
        padding-left: 30px;
    }
    .menu-case a.active:before, .menu-case a:hover:before {
        display: none;
    }
}

@media all and (max-width: 575px) {
    .Message {
        display: table;
        width: 340px;
        background-color: #0074D9;
        color: #fff;
        transition: all 0.2s ease;
        position: absolute;
        margin: auto;
        top: 30%;
        z-index: 21;
        left: 5%;
    }
    .copyright {
        width: unset;
    }
    .menu-case {
        padding-left: 20px;
    }
    .menu-case a.active:before, .menu-case a:hover:before {
        display: none;
    }
    .partners-container {
        grid-template-columns: auto auto;
    }

    .partners-container img {
        width: 110px;
    }

    .section-padding {
        padding: 40px 15px;
    }

    .logo-about {
        right: 30px;
        bottom: -35px;
        width: 80px;
    }

    .navbar-brand {
        margin-left: 1rem;
    }

    .section-logo {
        padding-top: 25px;
    }

    .logo-contact {
        position: absolute;
        right: -110px;
        top: -290px;
        width: 360px;
        z-index: 0;
    }

    .contact-block .navbar-brand {
        margin-left: 0;
    }

    .service-icon {
        position: unset;
        display: flex;
        margin: auto;
        padding: 25px 0;
    }

    .question-container {
        width: 100%;
    }

    .truck-rotate {
        position: initial;
        transform: rotate(0deg);
        left: 0;
        display: block;
        float: left;
        width: 100px;
    }

    .truck-check {
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 0;
        width: 100px;
    }

    .truck-dot {
        height: 15px;
        position: absolute;
        right: 100px;
        top: 75px;
        z-index: 0;
        background-size: 15px 15px;
        width: 40%;
        background: transparent url(../images/dot.svg) space 0 0;
    }

    .service-item:hover {
        animation: none;
        -webkit-animation: none;
    }

    .box-icon {
        position: initial;
        transform: rotate(0deg);
        left: 0;
        display: block;
        float: left;
        width: 70px;
    }

    .service-icon-main box-dot1 {
        height: 15px;
        position: absolute;
        right: 220px;
        top: 95px;
        z-index: 0;
        background-size: 15px 15px;
        width: 20%;
        background: transparent url(../images/dot.svg) space 0 0;
    }

    .box-dot1 {
        height: 15px;
        position: absolute;
        top: 95px;
        left: -50px;
        z-index: 0;
        background-size: 15px 15px;
        width: 20%;
        background: transparent url(../images/dot.svg) space 0 0;
    }

    .box-dot2 {
        height: 15px;
        position: absolute;
        left: 240px;
        top: 95px;
        z-index: 0;
        background-size: 15px 15px;
        width: 15%;
        background: transparent url(../images/dot.svg) space 0 0;
    }

    .plane-icon {
        transform: rotate(90deg);
        top: 39px;
        position: absolute;
        left: 40%;
        width: 75px;
    }

    .plane-check {
        position: absolute;
        right: 12px;
        top: 40px;
        z-index: 0;
        width: 70px;
    }
    .navbar-brand img {
        width: 150px!important;
        margin-bottom: 20px;
    }
    .blog-item {
        display: flex;
        padding-left: 10px;
        margin: 0 0 35px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .blog-item img {
        width: 100%;
        height: 160px;
        margin-right: 0;
    }

    .search-container {
        width: 90%;
        margin: 30px auto 20px;
    }
}
