@import "fonts.css";

body {
    color: #265174;
    font-family: 'OpenSans-Regular', serif;
    font-size: 16px;
    background: #f0f0f0;
}

em {
    font-family: 'OpenSans-Italic', serif;
}

strong {
    font-family: 'OpenSans-Bold', serif;
}

section {
    position: relative;
}

h1, h2, h3, h4, h5 {
    color: #265174;

    font-family: 'OpenSans-Regular', serif;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    color: #343f53;
}

a {
    color: #001a36;
    font-size: 16px;
    font-family: 'OpenSans-Regular', serif;
}

a:hover, a:focus, a:active {
    color: #001a36;
    text-decoration: none;
}

.bg-grey {
    background: #f0f0f0;
    padding: 30px 0 5px;
}

.navbar-brand {
    padding-top: 0;
}

.bg-grey .navbar-nav .active > .nav-link,
.bg-grey .navbar-nav .nav-link.active,
.bg-grey .navbar-nav .nav-link.show,
.bg-grey .navbar-nav .show > .nav-link {
    color: #001a36;
    font-family: 'Roboto-Bold', serif;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #001a36;
    font-family: 'Roboto-Regular', serif;
}

#navbarSupportedContent .nav-item:first-child .nav-link {
    padding-left: 0;
}

.bg-grey .navbar-nav .nav-link {
    font-size: 16px;
    color: #333333;
    font-family: 'Roboto-Regular', serif;
}

.navbar-lang .nav-link {
    font-size: 14px !important;
    color: #969696 !important;
    font-family: 'Roboto-Regular', serif;
}

.navbar-lang .active > .nav-link,
.navbar-lang .nav-link.active,
.navbar-lang .nav-link.show,
.navbar-lang .show > .nav-link {
    color: #001a36 !important;
    font-family: 'Roboto-Bold', serif;
    font-weight: bold;
}

.span-style {
    color: #001a36;
}

a.active {
    color: #001a36;
}

footer {
    background: #dddddd;
    color: #122038;
    font-family: 'OpenSans-Regular', serif;
    padding: 60px 0;
    font-size: 14px;
}

footer i {
    font-size: 20px !important;
}

.footer-social {
    width: 150px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
}

.footer-social a:first-child {
    margin-left: 0;
}

.footer-social a {
    color: #122038;
    margin: 0 10px;
}

.footer-social i {
    font-size: 26px !important;
}

.section-grey {
    background: #f0f0f0;
}

.section-white {
    background: #fff;
}

.section-logo {
    padding-top: 105px;
    padding-bottom: 70px;
}

.partners-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    justify-content: center;
}

.partners-container img {
    width: 240px;
    height: 105px;
    object-fit: contain;
    margin: 15px;
}

#logo-main-box {
    width: 120px;
    margin-right: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 120px;
    margin-right: 163px;
}

.section-padding {
    padding: 40px 0;
}

.label-section h3 {
    color: #343f53;
    font-size: 30px;
    font-family: "OpenSans-Regular", serif;
    margin-bottom: 30px;
}

.label-white h1, .label-white h2, .label-white h3, .label-white h4, .label-white h5 {
    color: white;
}

.bg-blue, .section-blue {
    background: #265174;
    color: white;
}

.main-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-list li {
    padding-top: 15px;
}

.main-icon {
    width: 60px;
}

.logo-about {
    position: absolute;
    right: 160px;
    bottom: -75px;
    width: 150px;
    z-index: 1;
}

.logo-about-anim {
    width: 120px;
    z-index: 1;
}

.label-contacts {
    text-transform: uppercase;
}

.social-container {
    padding-top: 10px;
    z-index: 1;
}

.social-detail {
    list-style: none;
    padding-left: 1rem;
}

.social-detail li {
    text-indent: -1em;
}

.social-detail li:before {
    content: "-";
    padding-right: 5px;
}

.contact-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo-contact {
    position: absolute;
    right: -160px;
    top: -490px;
    width: 820px;
    z-index: 0;
}

.logo-contact-anim {
    position: absolute;
    right: -60px;
    top: -490px;
    width: 900px;
    z-index: 0;
}

.order-pos {
    z-index: 2;
}

.btn-transparent {
    border: transparent;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active {
    border: transparent;
    background: transparent;
    color: white;
    font-weight: bold;
}

.question-container {
    background: #fecc00;
    width: calc(100% - 44.367%);
    padding: 25px;
    z-index: 0;
    height: 118px;
    position: relative;
    transition: transform 1s;
}

.question-container strong {
    font-size: 18px;
    font-family: 'OpenSans-Bold', serif;
    color: #265174;
    transition: all 1s ease-in-out;
}

.question-container p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'OpenSans-Regular', serif;
    color: #265174;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.question-container:hover .connect-text {
    transform: scale(1.1);
    transition: transform 1s;
    overflow-x: hidden;
    position: absolute;
}

.service-icon {
    width: 120px;
    margin-right: 70px;
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
}

.service-icon-anim {
    width: 120px;
    margin-right: 60px;
    position: sticky;
    position: -webkit-sticky;
    top: 120px;
}

.truck-rotate {
    transform: rotate(90deg);
}

.logo-main {
    position: absolute;
    top: -80px;
    right: 120px;
    height: 100%;
}

.logo-box {
    position: sticky;
    position: -webkit-sticky;
    top: 120px;
}

.anim-container, .anim-container1, .anim-container2 {
    position: relative;
}

.anim-box-block {
    position: sticky;
    height: 120px;
    top: 160px;
}

#logo-main-plane {
    position: relative;
    top: -60px;
    left: 0px;
}

#loader {
    position: absolute;
    z-index: 1081;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: white;
    z-index: 1000;
}

#loader-brand {
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-items: center;
    top: -30px;
    left: 11px;
}

#loader-brand svg {
    width: 75% !important;
}

.blog-description img {
    width: 100% !important;
    object-fit: cover;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%); /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.5s 0.6s ease-out;
    transition: all 0.5s 0.6s ease-out;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.menu a.active:before, .menu a:hover:before {
    background-image: url(../images/arrow.svg);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    margin-left: -40px;
    position: absolute;
    left: 30px;
    margin-top: 3px;
}

.menu-blog a.active:before, .menu-blog a:hover:before {
    margin-top: 2px;
    left: 25px;
}

.blog-item img {
    width: 230px !important;
    object-fit: cover;
    margin-right: 20px;
}

.blog-item h2 {
    font-size: 18px;
}

::-webkit-input-placeholder { text-align:left; }
input:-moz-placeholder { text-align:left; }

.blog-desc {
    padding-top: 5px;
    color: #265174;
}

.blog-description {
    padding-top: 5px;
    color: #265174;
}

.blog-item {
    display: inline-flex;
    padding-left: 10px;
    margin: 0 0 35px;
    position: relative;
}

.blog-link:hover .blog-item:after {
    width: 340%;
    content: "";
    display: block;
    background: rgba(221, 221, 221, 0.6);
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    left: 0px;
}

.search-container {
    width: 280px;
    margin-bottom: 30px
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}

input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.search-icon {
    position: relative;
    float: right;
    width: 25px;
    height: 65px;
    top: -50px;
    right: 5px;
}

p.nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-size: 16px;
    margin: 0;
}

.service-item {
    left: 0;
    position: relative;
}

.service-item:hover {
    animation: slide 0.5s forwards;
    -webkit-animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% {
        left: -40px;
    }
}

@keyframes slide {
    100% {
        left: -40px;
    }
}

.navbar-lang {
    align-items: center;
}

.service-item p {
    color: white !important;
}

.copyright {
    position: relative;
    width: max-content;
    font-size: 10px;
}

.copyright:not(:first-child) {
    margin-bottom: 20px;
}

a.copyright:hover {
    text-decoration: underline;
}

.wrapper {
    margin-top: 70px;
}

.connect-to-us {
    position: relative;
}

.menu a {
    font-family: "OpenSans-Bold", serif;
    font-weight: bold;
}

.menu-blog a {
    color: #265174;
    font-weight: unset;
    font-size: 14px;
}

.menu-label {
    font-family: "OpenSans-Bold", serif;
    font-weight: bold;
    color: #001a36;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-container {
    background: white;
    padding-top: 25px;
}

.bg-transparent {
    background: transparent !important;
}

.label-text {
    font-family: "OpenSans-Regular", serif;
    font-size: 18px;
    color: #265174;
}

.footer-container i {
    font-size: 18px !important;
    margin-top: 5px;
}

.first-about-block {
    font-size: 30px;
    font-family: "OpenSans-Regular", serif;
    color: #343f53;
    letter-spacing: 0.3px;
    line-height: 1.2;
}

.about-logo-animate {
    position: absolute;
    top: 280px;
    right: 190px;
    z-index: 1;
    height: 100%;
}

.contact-block {
    color: #122038;
}

.contact-block h4 {
    color: #122038;
    font-size: 18px;
    font-family: "OpenSans-Bold", serif;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-10 {
    padding-top: 5px;
}

.service-body {
    font-size: 16px;
    font-family: "OpenSans-Regular", serif;
}

.padding-top-60 {
    padding-top: 60px !important;
}

.main-icon-service {
    padding-top: 40px;
    background: #f0f0f0;
    position: relative;
    height: 180px;
}

.menu-case {
    padding-left: 0;
}

.menu-case a.active:before, .menu-case a:hover:before {
    margin-left: -40px;
}

.margin-top-80 {
    margin-top: 80px;
}

.navbar > .container, .navbar > .container-fluid {
    display: block;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-20 .menu a.active::before, .margin-left-20 .menu a:hover::before {
    left: 50px;
}

.margin-top-5 {
    margin-top: 5px;
}

#cookieConsent {
    background-color: rgba(20, 20, 20, 0.8);
    min-height: 26px;
    font-size: 14px;
    color: #f0f0f0;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}

#cookieConsent a {
    color: white;
    font-size: 14px;
}

#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}

#closeCookieConsent:hover {
    color: #FFF;
}

#cookieConsent a.cookieConsentOK {
    background-color: #fecc00;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
    background-color: #fecc00;
}

.container-test {
    top: 0;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#big-logo {
    margin-top: 44px;
    margin-left: 27px;
}

#big-logo img {
    width: 456px !important;
}

#logo-main-plane svg {
    height: 1300px !important;
}

.hamburger {
    position: absolute;
    top: -8px;
    right: 20px;
}

#logo-search {
    width: 170px;
    margin-right: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 120px;
}

.Message {
    display: table;
    background-color: #0074D9;
    color: #fff;
    transition: all 0.2s ease;
    top: 30%;
    z-index: 21;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.Message.is-hidden {
    opacity: 0;
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
}

.Message--orange {
    background-color: #F39C12;
}

.Message--red {
    background-color: #FF4136;
}

.Message--green {
    background-color: #2ECC40;
}

.Message-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}
.Message-icon > i {
    width: 20px;
    font-size: 20px;
}

.Message-body {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 20px 10px;
}
.Message-body > p {
    line-height: 1.2;
    margin-top: 6px;
}

.Message-button {
    position: relative;
    margin: 15px 5px -10px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.Message-button:hover {
    background: rgba(0, 0, 0, 0.3);
}
.Message-button:active {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px rgba(0, 0, 0, 0.4);
    top: 3px;
}

.Message-close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    right: 5px;
    top: 5px;
    opacity: 0;
    cursor: pointer;
}
.Message:hover .Message-close {
    opacity: 1;
}
.Message-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.u-italic {
    font-style: italic;
}
.parsley-errors-list{
    list-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.stick-search{
    position: sticky;
    top: 110px;
}
.email-link a:hover{
    text-decoration: underline;
}